amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
billiard==4.2.4
celery==5.6.2
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
fastapi==0.129.0
flower==2.0.1
h11==0.16.0
humanize==4.15.0
idna==3.11
joblib==1.5.3
kombu==5.6.2
numpy==2.4.2
packaging==26.0
pandas==3.0.1
prometheus-client==0.24.1
prompt-toolkit==3.0.52
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic-core==2.41.5
pydantic-settings==2.13.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
redis==7.2.0
scikit-learn==1.8.0
scipy==1.17.0
six==1.17.0
sqlalchemy==2.0.46
starlette==0.52.1
threadpoolctl==3.6.0
tornado==6.5.4
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
tzlocal==5.3.1
uvicorn==0.41.0
vine==5.1.0
wcwidth==0.6.0
