networks:
  app_network:
    driver: bridge

# Data to persist will be redis data, postgres data, and pgadmin data
volumes:
  postgres_data:
    name: backtester_postgres_data
  pgadmin_data:
    name: backtester_pgadmin_data
  redis_data:
    name: backtester_redis_data

services:
  db:
    image: postgres:16
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app_network

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    ports:
      - "5051:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app_network

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app_network

  backtester:
    build:
      context: ./backtester
      dockerfile: Dockerfile
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backtester:/app
    ports:
      - "8001:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: always
    networks:
      - app_network

  celery:
    build:
      context: ./backtester
    command: celery -A src.core.celery_worker worker --loglevel=info          # Celery command structure: celery (CLI command) -A (or --app) path (path to where celery = Celery(..) is instantiated) worker (celery subprocess command)
    volumes:
      - ./backtester:/app
    env_file:
      - .env
    depends_on:
      backtester:
        condition: service_started
      redis:
        condition: service_healthy
    restart: always
    networks:
      - app_network

  flower:
    build:
      context: ./backtester
    command: celery -A src.core.celery_worker flower --port=5555
    ports:
      - "5557:5555"
    env_file:
      - .env
    depends_on:
      backtester:
        condition: service_started
      celery:
        condition: service_started
      redis:
        condition: service_healthy
    networks:
      - app_network